.example-spacer {
    flex: 1 1 auto;
}
    table {
      width: 70%;
    }
    
    .mat-mdc-form-field {
      font-size: 14px;
      width: 100%;
    }
    
    td, th {
      width: 25%;
    }
  
  